html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body {
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
a {
    text-decoration: none;
}
.color-white {
    color: #ffffff;
}
.header {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 79px;
}
.header-heading {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 1px;
}
.header-heading:hover {
    color: #3cb878;
    opacity: 0.4;
    transition: 1s;
}
.header-icons-singature {
    display: inline-flex;
}
.header-icons {
    display: inline-flex;
    width: 120px;
    justify-content: space-between;
}
.header-svg {
    fill: #ffffff;
}
.header-svg:hover {
    fill: #3cb878;
    opacity: 0.4;
    transition: 1s;
}
.header-singature {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
}
.header-singature:hover {
    opacity: 0.4;
}
.header-singature:hover::before {
    opacity: 1;
}
.header-singature::before {
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    margin-right: 27px;
    margin-left: 25px;
    opacity: 0.5;
    mix-blend-mode: normal;
}
.header-singature-link:hover {
    color: #3cb878;
    transition: 1s;
}
main{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: 444px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    display: grid;
    justify-content: center;
    margin-top: calc(10% - 60px);
    margin-bottom: calc(10% - 60px);
}
.header-form {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 13px;
}
.header-form-heading {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}
.header-form-heading::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    mix-blend-mode: normal;
    margin-left: -56.5px;
    margin-top: 3px;
}
.header-form-link {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}
.header-form-link:hover {
    color: #01813F;
    text-decoration-line: underline;
    transition: 1s;
}
.form-button-facebook,
.form-button-google {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 3px;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    
}
.form-button-facebook {
    background-color: #305db8;
}
.form-button-facebook:hover {
    background-color: #022263;
    transition: 1s;
}
.form-button-google {
    background-color: #df4a32;
}
.form-button-google:hover {
    background-color: #ab1f09;
    transition: 1s;
}
.form-button-img {
    margin-left: -10px;
}
.form-button-facebook::before,
.form-button-google::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    top: 10px;
    left: 48px;
}
.form-button-singature {
    margin-left: 38px;
}
.form-split-or {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 11px;
}
.form-split-or::before,
.form-split-or::after {
    content: "";
    width: 152px;
    height: 0px;
    border: 1px solid #f2f2f2;
}
.form-split-or::before {
    margin-right: 5px;
    margin-top: 3px;
}
.form-split-or::after {
    margin-left: 5px;
    margin-top: 3px;
}
.form__element {
    width: 324px;
    height: 44px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding-left: 20px;
}
.form__element::placeholder {
    color: #bebebe;
    
}
.form__element:focus {
    height: 46px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    margin-bottom: 13px;
}
.form-checkbox {
    display: flex;
    align-items: center;
}
.form__element--checkbox {
    display: none;
}
.label-for-check {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}
.label-for-check::before {
    content: "";
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #f2f2f2;
    margin-right: 8px;
}
.label-for-check {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.form__element--checkbox:checked + .label-for-check::before {
    background-image: url(../images/vector.png);
    background-position: center;
    background-repeat: no-repeat;
}
.form-label-link {
    color: #3cb878;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-label-link:hover {
    color: #01813f;
    text-decoration-line: underline;
    transition: 1s;
}
.form-button-create {
    width: 324px;
    height: 46px;
    margin-top: 20px;
    margin-bottom: 38px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 16px;
}
.form-button-create:hover {
    background: #01813f;
    transition: 1s;
}